batch_files/*
data/*
*.m~
structure/spec~
orthogonal/spec~
*.sig
.DS_Store
spec~
*.dat
tests/.#unitary-examples.m
*.m#
tests/.#unitary-tests.m
*.amf
neighbors/*scratch*
neighbors/.#inv-CN1.m
*.el
modfrmalg/.magma-scan/modfrmalgelt.m.el
*.spec~
